extends layouts/main-layout.pug 

block main-content 
    h1 Welcome to our main page! 
    p Please navigate from navigation bar. <!-- we have defined extends above so it does not define a hook at line 3-->
