<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1> Welcome to our app!</h1>
    <p>Please navigate from navigation bar</p>
<%- include('includes/end.ejs') %>